table
{ 
    margin: 0 auto;
    font-size: 20px;
    box-shadow: 5px 5px 10px darkslategray;                    
}

td
{
    padding: 5px;
    border-spacing: 5px;
    margin: 0 auto;  
}

th
{
    width: 130px;
    font-size: 17px;
}

input
{
    border: 2px solid darkgrey;
    width: 150px;
    height: 18px;
}
            
select
{
    border: 2px solid darkgrey;
    width: 157px;
    height: 18px;
    font-size: 13px;
}

input:focus 
{
    border: 3px solid #555;
    outline: none;
}
            
.button
{
    text-align: center;
}

.table1
{
    border: 5px dashed slategray;
    background-color: ghostwhite;
}

.last
{
    width: 140px;
}
        
#submitBtn
{
    height: 30px;
    width: 150px;
    border: none; 
    background-color: slategray;
    color: ghostwhite;         
}
            
#viewBtn
{
    height: 30px;
    width: 150px;
    border: none;
    background-color: slategray;
    color: ghostwhite;            
}
            
#datadisplay
{
    text-align: center;
    background-image: linear-gradient(to bottom right, lightblue, lavender);
    border-radius: 10px;
    color: midnightblue;
    border: 2px solid lightslategray;  
}